# Use postgres/example user/password credentials
version: '3.9'

services:

  db:
    image: postgres:16
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: newsletter
    ports:
      - "5432:5432"
  
  zero2prod:
    build: .
    restart: always
    environment:
      APP_ENVIRONMENT: "production"
      APP_DATABASE__HOST: "db"
      APP_DATABASE__SSL_MODE: "prefer"
    ports:
      - "8000:8000"
    depends_on:
      - db
  